<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/new" method="post">
        <input type="text" name="user" id="author-name" placeholder="You Name">
        <input type="text" name="text" id="message-text" placeholder="write your message">
        <button type="submit">Post</button>
    </form>
  </body>
</html>
