<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <% let i = 0 %>
    <% while (i < message.length){ %>
      <div class="posts">
        <h3><%= message[i].user %></h3>
        <p><%= message[i].text %></p>
        <p>A few seconds ago</p>
      </div>
      <% i ++ %>
    <% } %>
  </body>
</html>
